.column {
  padding: 5px;
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.gradient-text {
  background: linear-gradient(to right, rgb(215, 141, 210), rgb(185, 153, 238), rgb(157, 165, 233), rgb(143, 169, 240));;
  background-clip: text;
  color: transparent;
}


.vertical-line {
    border-left: 1px solid gray;
  opacity: 10%;
    height: 1000px; /* Adjust the height as needed */
  }